body{
    background-image:url("https://images.unsplash.com/photo-1489755730820-cd90f9a49424?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

// .fixed-top{
//     position: fixed;
//     z-index: 1030;
// }

.card {
    img{
        max-width: 300px;
        height: auto;        
        display: flex;
    }
}

.img-show {
    max-width: 500px;
    height: auto;
}

.p-show {
    line-height: 30px;
    font-size: 18px;
}

.p-comment {
    font-size: 16px;
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
  }
